functionsDirectory = "C:\\Users\\Aske\\Coding Projects\\React\\OSRS Prcing\\osrs-flipper-pro\\netlify\\functions"
functionsDirectoryOrigin = "default"
redirectsOrigin = "config"
plugins = []
headers = []

[build]
publish = "C:\\Users\\Aske\\Coding Projects\\React\\OSRS Prcing\\osrs-flipper-pro\\build"
publishOrigin = "config"
commandOrigin = "config"
base = "C:\\Users\\Aske\\Coding Projects\\React\\OSRS Prcing\\osrs-flipper-pro"
command = "npm run build"
functions = "C:\\Users\\Aske\\Coding Projects\\React\\OSRS Prcing\\osrs-flipper-pro\\netlify\\functions"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[functions]

[functions."*"]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]