@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

.shimmer {
    background: linear-gradient(90deg,
            #151a22 25%,
            #202737 50%,
            #151a22 75%);
    background-size: 1000px 100%;
    animation: shimmer 1.5s linear infinite;
    animation-delay: -0.75s;
    /* ✅ This syncs all shimmers */
    border-radius: 4px;
    will-change: background-position;
}

.shimmer-icon {
    width: 24px;
    height: 24px;
    margin: auto;
}

.shimmer-cell {
    height: 14px;
    margin: auto;
}

.shimmer-sparkline {
    width: 80px;
    height: 24px;
    margin: auto;
}